*{margin:0;padding:0;}
svg{width:100vh;border:1px solid;}
svg *{fill:rgba(0, 255, 255, .4)}


.tits {
   pointer-events: all;
}

.tits ellipse:hover{
    visibility: hidden;
}

.tits circle:hover{
    visibility: hidden;
}