
.carousel {
    width: 100%;
}

.slide-box {
    display: flex;
    justify-content: space-between;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: .5rem;
}

.slide-box img {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    width: auto;
    height: auto;
    max-width: 100%;
}

a > img:hover {
    /*
    color: white;
    */
    cursor: pointer;
    transform: scale(1.05);
}

/*XS - 2 sponsors/slide*/


@media (max-width: 575.98px) {
    .small {
        display: none;
    }

    .medium {
        display: none;
    }

    .large {
        display: none;
    }
    .slide-box img {
        max-width: 90%;
    }

}

/*S - 3 sponsors/slide*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .extraSmall {
        display: none;
    }

    .medium {
        display: none;
    }

    .large {
        display: none;
    }

    .slide-box img {
        max-width: 150%;
    }
}

/*M - 4 sponsors/slide*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .extraSmall {
        display: none;
    }

    .small {
        display: none;
    }

    .large {
        display: none;
    }

    .slide-box img {
        max-width: 120%;
    }
}

/*L - 5 sponsors/slide*/
@media (min-width: 992px) {
    .extraSmall {
        display: none;
    }

    .small {
        display: none;
    }

    .medium {
        display: none;
    }

    .slide-box img {
        max-width: 110%;
    }
}

