*{
    margin:0;padding:0;
}

svg {
    align-self: center;
    width:100vh;border:0px solid;
}

svg *{
    fill:rgba(0, 255, 255, 0)

}
/* tooltip start */
label {
    display: inline-block;
    width: 5em;
}

.tooltip {
    background: #EC2227;
}
/* tooltip end */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .vertical-center {
    background-color: #fff;
    /*min-height: 100%;
    min-height: 100vh;*/
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0%;
    size: 30cm;
  }